* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog-post {
  border:  2px solid salmon;
  border-radius: 5px;
  padding: 10px 20px;
}

.blog-post > h2 {
  font-size: 30px;
}

.blog-post > p {
  font-size: 24px;
  color: salmon;
}