$primary: #303030;
$secondary: #fcba03;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary;
}

.todo-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
  padding: 40px;
  height: 175px;
  label {
    font-weight: 700;
    color: $secondary;
  }
  input {
    border: 1px solid $primary;
    border-radius: 4px;
    padding: 4px 6px;
    &:focus{
      outline: none;
      border: 2px solid $secondary;
    }
  }
  button {
    border: 3px solid $secondary;
    border-radius: 4px;
    padding: 6px 6px;
    background-color: $secondary;
    color: $primary;
    font-weight: 600;
  }

}

.todos {
  min-width: 400px;
  padding: 20px 40px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: $primary;
  h2 {
    font-size: 18px;
    font-weight: 500;
    &.completed {
      text-decoration: line-through;
    }
  }
  button {
    border: 2px solid $secondary;
    border-radius: 4px;
    background-color: white;
    padding: 4px 8px;
    font-weight: 400;
    &.delete {
      background-color: #fc3d03;
      border-color: #fc3d03;
      color: white;
    }
  }
}
